.text-white{
    color:white;
}
.text-center{
    width:100%;
    text-align: center!important;
}
.ideia-foto{
    width: 100% !important;
}
.dark-bgg{
    padding: 1px !important;
}
.rodape{
    height: 10vh !important;
    
    
}